.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { 
  grid-area: 1 / 1 / 6 / 2;
  margin-left: 110px;
  margin-top: 40px;
}
.div2 { 
  grid-area: 1 / 2 / 6 / 6; 
  margin-left: 90px;
  margin-top: 40px;
  margin-right: 110px;
}


.div3 { grid-area: 6 / 1 / 10 / 4; }
.div4 { grid-area: 6 / 4 / 10 / 6; }

.andreines-img {
  width: 400px;
  height: 100%;
  border-radius: 20px
}

.historia-titulo {
  font-weight: 600;
  color: #ebb104;
  font-size: 40px;
}

.historia-texto {
  color: #E0E0E0;
  line-height: 1.8;
  text-align: justify;
  margin-top: 20px;
}

