*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #6e6f6e transparent;
}

body {    
    background-color: #262724;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

h1 {
    font-size: 32px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 28px;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 24px;
    margin-bottom: 0.6rem;
}

/* Responsividade Mobile */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
        line-height: 1.4;
    }

}